@import "../scss/variables";

.header {
  background-color: $color-body-bg;
  // @apply fixed;
  // @apply top-0;
  // @apply z-10;
  // @apply w-full;
  @apply p-4;
  // @apply mt-0;
}

.content {
  // @apply h-screen;
  // @apply mt-24;
}

.daily {
  .day-name {
    width: 50px;
  }
}

.location-name {
  @apply pt-2;
  @apply w-full;
  @apply text-center;
  // @apply mb-4;

  h1 {
    @apply text-xl;
    @apply text-center;
  }
}

.map {
  @apply p-2;

  .leaflet-container {
    height: 7rem;
    @apply w-full;
    @apply rounded-lg;
  }

  .leaflet-control-container {
    @apply hidden;
  }
}

.current-conditions {
  @apply w-full;
  @apply flex;
  @apply leading-10;

  .temperature {
    .actual-temp {
      @apply text-5xl;
      @apply font-semibold;
    }

    .feels-like-temp {
      @apply text-sm;
      @apply -mt-1;
      @apply ml-1;
    }
  }

  .icon,
  .temperature {
    @apply w-1/2;
  }

  .icon {
    @apply text-right;
  }
}
