@reference "../index.css";

.current-conditions {
  @apply w-full;
  @apply flex;
  @apply leading-10;
  @apply p-0;
  @apply border-0;
  @apply bg-transparent;
  @apply text-left;

  .temperature {
    .actual-temp {
      @apply text-5xl;
      @apply font-semibold;
    }

    .feels-like-temp {
      @apply text-sm;
      @apply -mt-1;
      @apply ml-1;
    }
  }

  .icon,
  .temperature {
    @apply w-1/2;
    @apply cursor-pointer;
  }

  .icon {
    @apply text-right;

    margin-top: -0.1rem;
  }
}
