.current-hourly-container,
.hourly-container {
  @apply p-3;
}

.condition-select-container {
  @apply my-3;
  @apply flex;
  @apply w-full;
  @apply overflow-x-auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .pill,
  .pill-selected {
    @apply flex-grow;
    @apply flex-shrink-0;
    @apply px-2;
    @apply text-sm;
    @apply leading-7;
    @apply mr-2;
    @apply font-semibold;
    @apply uppercase;
    @apply rounded-full;
    @apply text-center;
    @apply border-2;
    @apply focus:outline-none;
  }

  .pill {
    @apply text-blue-400;
    @apply bg-transparent;
    @apply border-blue-400;
    @apply cursor-pointer;
  }

  .pill-selected {
    @apply text-gray-50;
    @apply dark:text-black;
    @apply bg-blue-400;
    @apply border-blue-400;
    @apply cursor-default;
  }
}

.hourly {
  @apply flex;
  @apply flex-wrap;

  .hour {
    @apply flex;
    @apply w-full;
    @apply h-12;
    @apply m-0;
    @apply leading-10;

    &::after {
      content: '';
      top: -1.65rem;
      @apply flex-grow;
      @apply mr-2;
      @apply order-4;
      @apply relative;
      @apply border-0;
      @apply border-gray-400;
      @apply dark:border-gray-600;
      @apply border-b;
    }

    .condition-bar {
      @apply inline-block;
      @apply w-6;
      @apply h-full;
      @apply order-1;
      @apply flex-grow-0;
    }

    .time {
      @apply inline-block;
      @apply mr-2;
      @apply text-right;
      @apply align-top;
      @apply order-2;
      @apply flex-grow-0;
      @apply w-15;
      // width: 3.75rem;
    }

    .summary {
      @apply inline-block;
      @apply overflow-hidden;
      @apply text-sm;
      @apply flex-grow-0;
      @apply order-3;
      @apply mr-2;
      @apply italic;
      line-height: unset;
    }

    .condition {
      @apply inline-block;
      @apply align-top;
      @apply order-5;
      @apply flex-grow-0;

      .pill {
        @apply py-1;
        @apply font-semibold;
        @apply text-sm;
        @apply text-gray-800;
        @apply bg-gray-100;
        @apply rounded-full;
        @apply w-14;
        @apply text-center;
        @apply inline-block;
        @apply leading-5;
        @apply tracking-tight;
        @apply w-auto;
        @apply border;
        @apply border-gray-300;
        min-width: 2.25rem;

        &.orange {
          @apply bg-orange-500;
          @apply font-semibold;
        }

        &.yellow {
          @apply bg-yellow-500;
          @apply font-semibold;
        }

        &.green {
          @apply bg-green-500;
          @apply font-semibold;
        }

        &.red {
          @apply bg-red-500;
          @apply font-semibold;
        }

        &.purple {
          @apply bg-purple-500;
          @apply font-semibold;
        }
      }
    }
  }
}
