@import '../scss/variables';

.daily {
  @apply p-3;
  @apply flex;
  @apply flex-wrap;
  @apply flex-grow;

  .day {
    min-height: 4rem;
    @apply flex;
    @apply w-full;
    @apply m-0;
    @apply text-lg;
    @apply leading-10;

    .name {
      @apply mr-1;
      @apply text-sm;
      @apply leading-5;
      @apply text-left;
      @apply align-top;
      @apply flex-grow-0;
      @apply order-1;
      width: 3.25rem;

      .precip {
        @apply text-blue-300;
      }
    }

    .icon {
      @apply align-top;
      @apply flex-grow-0;
      @apply order-2;
    }

    .temps {
      @apply pl-3;
      @apply text-base;
      @apply align-top;
      @apply text-right;
      @apply leading-5;
      @apply mt-1;
      @apply flex-grow;
      @apply order-3;
      @apply flex;

      .temps-spacer {
        @apply h-6;
        @apply mx-2;
        @apply bg-white;
        @apply rounded-full;
        @apply align-text-bottom;
        @apply flex-grow;
      }
    }
  }

  details {
    @apply focus:outline-none;
    @apply focus:shadow;

    & > summary {
      list-style: none;
      @apply focus:outline-none;

      &::-webkit-details-marker {
        display: none;
      }
    }
  }

  // details {
  //   transition: height 1s ease-in-out;

  //   &:not([open]) {
  //     height: 4rem;
  //   }

  //   &[open] {
  //     height: 40.25rem;
  //   }
  // }
}
