@import '~@sweetalert2/theme-dark/dark';

.header {
  @apply bg-gray-50;
  @apply dark:bg-gray-900;
  @apply fixed;
  @apply top-0;
  @apply max-w-md;
  @apply w-full;
  @apply z-40;
  @apply flex;
  @apply flex-row;

  .location-name {
    @apply bg-gray-50;
    @apply dark:bg-gray-900;
    @apply pt-2;
    @apply pl-3;
    @apply flex;
    @apply flex-grow-0;
    @apply mb-2;

    h1 {
      @apply text-xl;
      @apply text-left;
    }
  }

  .flex-spacer {
    @apply flex;
    @apply flex-grow;
  }

  .icons {
    @apply flex;
    @apply flex-grow-0;
    @apply items-center;
    @apply pr-3;
    @apply text-xl;
    @apply text-right;

    a,
    button {
      @apply ml-2;
    }
  }
}

div#swal2-html-container {
  margin: 0.25rem !important;
}

.swal2-close {
  position: relative !important;
  top: 2rem !important;
  margin-right: 1rem !important;
}

.leaflet-top.leaflet-right .leaflet-control-layers.leaflet-control {
  position: relative;
  top: 3rem !important;
}
