.weather-alert-container {
  @apply mb-1;
  @apply text-center;

  .weather-alert-button {
    @apply text-sm;
    @apply align-text-top;
    @apply leading-loose;
    @apply px-3;
    @apply mt-1;
    @apply mb-2;
    @apply font-medium;
    @apply border;
    @apply rounded-full;
    @apply focus:outline-none;
    @apply border-orange-400;
    @apply text-orange-400;
    // font-size: .9rem;
    // border-color: #ffa500;
    // color: #ffa500;
  }
}
