.slider-container {
  @apply bg-gray-300;
  @apply dark:bg-black;
  @apply bg-opacity-60;
  @apply h-10;
  @apply w-full;
  @apply mx-auto;
  @apply text-center;
  @apply max-w-md;
  @apply mx-auto;
  @apply fixed;
  @apply bottom-2;
  @apply pt-2;
  @apply shadow-md;

  .slider {
    @apply px-3;
    @apply text-center;
    @apply flex-wrap;
    @apply flex;

    .value-label {
      @apply mt-xxs;
      @apply text-gray-800;
      @apply dark:text-gray-100;
      @apply text-opacity-75;
      @apply text-sm;
      @apply font-semibold;
      @apply mr-2;
      @apply flex;
      @apply flex-grow-0;
    }

    .btn-play-radar-loop {
      @apply mt-xxs;
      @apply bg-gray-400;
      @apply dark:bg-gray-700;
      @apply border;
      @apply border-gray-200;
      @apply dark:border-black;
      @apply border-opacity-60;
      @apply text-gray-800;
      @apply dark:text-gray-100;
      @apply ml-2;
      @apply w-6;
      @apply h-6;
      @apply text-center;
      @apply focus:outline-none;
    }

    .range-slider {
      -webkit-appearance: none !important;
      @apply border;
      @apply border-gray-300;
      @apply dark:border-gray-900;
      @apply align-baseline;
      @apply leading-none;
      @apply rounded-md;
      @apply flex;
      @apply flex-grow;
      @apply my-2;

      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        @apply bg-gray-100;
        @apply dark:bg-gray-900;
        @apply w-full;
        @apply h-2;
        @apply rounded-sm;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @apply bg-gray-400;
        @apply dark:bg-gray-700;
        @apply border;
        @apply border-gray-200;
        @apply dark:border-black;
        @apply border-opacity-60;
        @apply rounded-sm;
        @apply h-6;
        @apply w-6;
        @apply -mt-2;
      }

      &:focus {
        @apply bg-gray-400;
        @apply dark:bg-gray-900;
        @apply border;
        @apply border-gray-200;
        @apply dark:border-gray-900;
        @apply outline-none;
      }

      &:focus::-webkit-slider-runnable-track {
        @apply bg-gray-100;
        @apply dark:bg-gray-900;
        @apply border;
        @apply border-gray-200;
        @apply dark:border-gray-900;
        @apply outline-none;
      }
    }
  }
}

.map-container {
  @apply p-0;
  @apply w-full;
  @apply h-screen;

  .weather-map-full {
    @apply h-full;
    @apply w-full;
    @apply z-0;
  }

  .leaflet-control-layers {
    @apply bg-gray-100;
    @apply dark:bg-gray-700;
    @apply text-gray-700;
    @apply dark:text-gray-100;
  }

  .leaflet-bar {
    a,
    a:hover {
      @apply bg-gray-100;
      @apply dark:bg-gray-700;
      @apply text-gray-700;
      @apply dark:text-gray-100;
    }
  }

  .leaflet-control-scale {
    @apply left-1;
  }

  .leaflet-control-attribution,
  .leaflet-control-scale-line {
    @apply border-gray-300;
    @apply dark:border-gray-700;
    @apply bg-gray-100;
    @apply dark:bg-black;
    @apply bg-opacity-60;
    @apply text-gray-800;
    @apply dark:text-gray-100;
    @apply text-opacity-75;

    a,
    a:hover {
      @apply text-gray-800;
      @apply dark:text-gray-100;
      @apply text-opacity-75;
    }
  }

  // .leaflet-control-layers-overlays > label:nth-child(1) {
  //   @apply hidden;
  // }

  .leaflet-control-attribution {
    @apply right-3;
    @apply top-2;
  }

  .leaflet-bottom.leaflet-right .leaflet-control-attribution {
    @apply hidden;
  }
}
