@import '../scss/variables';

.header {
  background-color: $color-body-bg;
  @apply fixed;
  @apply top-0;
  @apply max-w-md;
  @apply w-full;
  @apply z-40;

  .section-name {
    @apply pt-2;
    @apply w-full;
    @apply text-center;
    @apply mb-2;

    select {
      background-color: $color-body-bg;
      text-align-last: center;
      @apply text-xl;
      @apply text-center;
      @apply focus:outline-none;

      option {
        background-color: $color-body-bg;
        @apply text-center;
        @apply focus:outline-none;
      }
    }
  }
}

.slider-container {
  background-color: $color-black-sixty-percent;
  @apply h-10;
  @apply w-full;
  @apply mx-auto;
  @apply text-center;
  @apply max-w-md;
  @apply mx-auto;
  @apply fixed;
  @apply bottom-16;
  @apply pt-2;
  @apply shadow-md;

  .slider {
    @apply px-3;
    @apply text-center;
    @apply flex-wrap;
    @apply flex;

    .value-label {
      color: $color-light-gray;
      text-shadow: .5px .5px 1px $color-darkest-gray;
      margin-top: 1.5px;
      @apply text-sm;
      @apply font-semibold;
      @apply mr-2;
      @apply flex;
      @apply flex-grow-0;
    }

    .btn-play-radar-loop {
      background-color: $color-dark-gray;
      border: 1px solid $color-black-sixty-percent;
      color: $color-body-text;
      margin-top: 1.5px;
      @apply ml-2;
      @apply w-6;
      @apply h-6;
      @apply text-center;
      @apply focus:outline-none;
    }

    .range-slider {
      -webkit-appearance: none !important;
      border: 1px solid $color-darkest-gray !important;
      vertical-align: baseline;
      @apply leading-none;
      @apply rounded-md;
      @apply flex;
      @apply flex-grow;
      @apply my-2;

      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background-color: $color-darkest-gray;
        @apply w-full;
        @apply h-2;
        @apply rounded-sm;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: $color-dark-gray;
        border: 1px solid $color-black-sixty-percent;
        @apply rounded-sm;
        @apply h-6;
        @apply w-6;
        @apply -mt-2;
      }

      &:focus {
        background-color: $color-darkest-gray;
        border: 1px solid $color-darkest-gray;
        outline: none;
      }

      &:focus::-webkit-slider-runnable-track {
        background-color: $color-darkest-gray;
        border: 1px solid $color-darkest-gray;
        outline: none;
      }
    }
  }
}

.map-container {
  @apply p-0;
  @apply w-full;
  @apply h-screen;

  .weather-map-full {
    @apply h-full;
    @apply w-full;
    @apply z-0;
  }

  .leaflet-control-layers {
    @apply bg-gray-100;
      @apply dark:bg-gray-700;
      @apply text-gray-700;
      @apply dark:text-gray-100;
  }

  .leaflet-bar {
    a,
    a:hover {
      @apply bg-gray-100;
      @apply dark:bg-gray-700;
      @apply text-gray-700;
      @apply dark:text-gray-100;
    }
  }

  .leaflet-control-scale {
    @apply left-1;
  }

  .leaflet-control-attribution,
  .leaflet-control-scale-line {
    @apply bg-black;
    @apply bg-opacity-40;
    @apply border-gray-700;
    @apply text-gray-300;

    a,
    a:hover {
      @apply text-gray-400;
    }
  }

  .leaflet-control-layers-overlays > label:nth-child(1) {
    @apply hidden;
  }

  .leaflet-control-attribution {
    @apply right-3;
    @apply top-2;
  }

  .leaflet-bottom.leaflet-right .leaflet-control-attribution {
    @apply hidden;
  }
}

.radar-key,
.temp-key {
  @apply h-auto;
  @apply absolute;
  @apply w-10;
  z-index: 500;
}

.radar-key {
  @apply bottom-2;
  @apply right-1;
}

.temp-key {
  @apply right-1;
  @apply bottom-40;
}
