@import '../scss/variables';

.header {
  background-color: $color-body-bg;
  @apply fixed;
  @apply top-0;
  @apply max-w-md;
  @apply w-full;
  @apply z-40;

  .section-name {
    @apply pt-2;
    @apply w-full;
    @apply text-center;
    @apply mb-2;

    select {
      background-color: $color-body-bg;
      text-align-last: center;
      @apply text-xl;
      @apply text-center;
      @apply focus:outline-none;

      option {
        background-color: $color-body-bg;
        @apply text-center;
        @apply focus:outline-none;
      }
    }
  }
}

.map-container {
  @apply p-0;
  @apply h-full;
  @apply w-full;

  .leaflet-container {
    @apply h-full;
    @apply w-full;
    @apply min-h-screen;
    @apply z-0;
  }

  .leaflet-pane {
    @apply z-0;
  }

  .leaflet-control-container {
    @apply relative;
    @apply mt-16;
  }

  .leaflet-control-layers {
    background-color: $color-dark-gray;
    color: $color-body-text;
  }

  .leaflet-bar {
    a,
    a:hover {
      background-color: $color-dark-gray;
      color: $color-body-text;
    }
  }

  .leaflet-control-scale-line {
    background-color: $color-black-sixty-percent;
    border-color: $color-dark-gray;
    color: $color-lighter-gray;
  }

  .leaflet-control-layers-overlays,
  .leaflet-control-layers-separator {
    @apply hidden;
  }

  .leaflet-control-zoom {
    @apply hidden;
    @apply md:block;
  }

  .leaflet-control-attribution {
    @apply top-1;
    @apply right-3;
  }
}

.radar-key {
  bottom: 60px;
  height: auto;
  position: absolute;
  right: 5px;
  width: 40px;
  z-index: 500;
}
