// purgecss start ignore
@tailwind base;
@tailwind components;
// purgecss end ignore

@import './scss/variables';
@import '~tippy.js/dist/tippy';
// @import '~leaflet/dist/leaflet';

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  background-color: $color-body-bg;
  color: $color-body-text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@tailwind utilities;
