$color-black: #000;
$color-white: #fff;

$color-lightest-gray: #efefef;
$color-lighter-gray: #ddd;
$color-light-gray: #aaa;
$color-dark-gray: #333;
$color-darker-gray: #272b2c;
$color-darkest-gray: #181c1d;

$color-black-forty-percent: rgba(0, 0, 0, .4);
$color-black-sixty-percent: rgba(0, 0, 0, .6);
$color-black-ninety-percent: rgba(0, 0, 0, .9);

$color-body-bg: $color-darkest-gray;
$color-body-text: $color-lightest-gray;


